/*------------------*/
/* 1. Custom fonts  */
/*------------------*/
@font-face {
  font-family: "Inter Light BETA";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Light BETA"), url("Inter-Light-BETA.woff") format("woff");
}

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Regular"),
    url("/assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Italic"),
    url("/assets/fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Medium"),
    url("/assets/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Medium Italic"),
    url("/assets/fonts/Inter-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Semi Bold"),
    url("/assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Semi Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Semi Bold Italic"),
    url("/assets/fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Bold"), url("/assets/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Bold Italic"),
    url("/assets/fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Extra Bold"),
    url("/assets/fonts/Inter-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Extra Bold Italic"),
    url("/assets/fonts/Inter-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Inter Black";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Black"),
    url("/assets/fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: "Inter Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Inter Black Italic"),
    url("/assets/fonts/Inter-BlackItalic.woff") format("woff");
}

/*----------------------*/
/* 2. Custom variables  */
/*----------------------*/
:root {
  /* Font families */
  --ff-base: "Inter", sans-serif;

  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* colors */
  --clr-neutral-80: hsl(0, 0%, 20%);
  --clr-light-90: hsl(0, 0%, 97%);
  --clr-accent-40: hsl(122, 39%, 49%);
  --clr-accent-90: hsl(122, 39%, 40%);
  --clr-purple: hsl(253, 28%, 36%);
  --clr-blue: hsl(204, 47%, 32%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-96: hsl(0, 0%, 96%);
  --clr-black: hsl(0, 0%, 0%);

  /* layout */
  --small-screen: 48rem;
  --large-screen: 75rem;

  /* shadows */
}

/*----------------*/
/* 3. CSS Reset   */
/*----------------*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Add accessible line-height | Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*--------------------*/
/* 4. Global styles   */
/*--------------------*/

/* Global */
html {
  font-family: var(--ff-base);
}

body {
  background-color: var(--clr-light-90);
  color: var(--clr-neutral-80);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* Components */
.grid-container {
  display: grid;
  grid-template-columns: 1fr [content-start] min(var(--large-screen), 90%) [content-end] 1fr;
}

.grid-container > * {
  grid-column: content;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 998;
  display: none;
}

.overlay.is-active {
  display: block;
}
